@import "component/breadcrumb.scss";
@import "component/product-quantity.scss";
@import "component/product-card.scss";
@import "component/product-gallery.scss";
@import "component/product-slider.scss";
@import "component/pagination.scss"; 
@import "component/sidebar.scss";