#home{
    background-color: var(--_c-light-primary);
    .about-us{
        .sf-call-to-action{
            .sf-call-to-action__text-container{
                margin: 0 auto;
                width: 100%;
                .content{
                    padding: 60px 0;
                    align-items: center;
                    @include for-tablet {
                        flex-direction: column;
                    }
                    @include for-mobile {
                        flex-direction: column;
                    }
                    img{
                        max-width: 370px;
                        width: 100%;
                        height: auto;
                        margin:  0 3vw;
                    }
                    .content_right{
                        max-width: 620px;
                        margin: 0 auto;
                        h4{
                            font-size: 20px;
                            font-family: 'Poppins-Bold';
                        }
                        p{
                            font-size: 12px;
                            a, b{
                                font-family: 'Poppins-Bold';
                            }
                            a{
                                color: $primary-color;
                            }
                        }
                    }
                } 
            }
        }

    }
    .code-promotion-block-type{
        a{
            width: 50%;
            margin: 0 15px;
            img{
                border-radius: 5px;
            }
        }
    }
    .support-block{
        padding: 30px 0;
        background-color: var(--c-white);
        .support-block--content{
            padding: 30px 0;
            @include for-mobile{
                flex-direction: column;
            }
            .support-block--item{
                padding: 0 30px;
                @include for-mobile{
                    flex-direction: column;
                    margin-bottom: 20px;
                    text-align: center;
                }
                &:nth-child(2){
                    border-left: 2px solid var(--c-light);
                    border-right: 2px solid var(--c-light);
                    @include for-mobile{
                        border: 0;
                    }
                }
                img{
                    border-radius: 3px;
                    margin-right: 20px;
                    width: 145px;
                    @include for-mobile{
                        display: block;
                        margin: 15px auto;
                    }
                }
                h3, p{
                    margin: 0;
                    margin-bottom: 10px;
                }
                h3{
                    font-family: 'Poppins-Regular';
                    font-size: 20px;
                    font-weight: normal;
                    line-height: 1;
                }
                p{
                    font-size: 14px;
                    b{
                        font-family: 'Poppins-Bold';
                    }
                }
                .btn-primary-outline-gray{
                    padding: 10px 18px;
                    font-size: 14px;
                    @include for-mobile{
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}