#home{
    .about-us{
        .sf-call-to-action{
            .sf-call-to-action__text-container{
                margin: 0 auto;
                .content{
                    padding: 60px 0;
                    align-items: center;
                    img{
                        max-width: 370px;
                        width: 100%;
                        height: auto;
                        margin:  0 60px;
                    }
                    .content_right{
                        max-width: 620px;
                        margin: 0 auto;
                        h4{
                            font-size: 20px;
                            font-family: 'Poppins-Bold';
                        }
                        p{
                            font-size: 12px;
                            a, b{
                                font-family: 'Poppins-Bold';
                            }
                            a{
                                color: $primary-color;
                            }
                        }
                    }
                } 
            }
        }

    }
}