#home{
    background-color: var(--_c-light-primary);
    .about-us{
        .sf-call-to-action{
            .sf-call-to-action__text-container{
                margin: 0 auto;
                width: 100%;
                .content{
                    padding: 60px 0;
                    align-items: center;
                    @include for-tablet {
                        flex-direction: column;
                    }
                    @include for-mobile {
                        flex-direction: column;
                    }
                    img{
                        max-width: 370px;
                        width: 100%;
                        height: auto;
                        margin:  0 3vw;
                    }
                    .content_right{
                        max-width: 620px;
                        margin: 0 auto;
                        h4{
                            font-size: 20px;
                            font-family: 'Poppins-Bold';
                        }
                        p{
                            font-size: 12px;
                            a, b{
                                font-family: 'Poppins-Bold';
                            }
                            a{
                                color: $primary-color;
                            }
                        }
                    }
                } 
            }
        }

    }

    .sf-section.section{
        margin: 80px 0;
    }

    .product-slider{
        margin: 70px 0;
        .slider-content{
            background-color: var(--c-white);
            border-radius: 5px;
            overflow: hidden;
            @media screen and (max-width: 767px){
                flex-direction: column;
            }
            .slider-banner{
                display: block;
                width: 360px;
                @media screen and (max-width: 767px){
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
            }
            .sf-carousel{
                width: calc(100% - 360px);
                @media screen and (max-width: 767px){
                    width: 100%;
                }
                &__wrapper{
                    max-width: 100%;
                    .glide{
                        .glide{
                            &__track{
                                ul{
                                    li{
                                        width: 303px!important;
                                        .sf-product-card{
                                            max-width: -webkit-fill-available;
                                            width: 100%;
                                            margin: 0!important;
                                            border-radius: 0;
                                            border-left: 0;
                                            border-right: 0;
                                            &__image-wrapper{
                                                height: 170px;
                                                text-align: center;
                                                a{
                                                    padding: 15px;
                                                }
                                                + .sf-link{
                                                    border: 0;
                                                }
                                            }
                                            .a-product-rating{
                                                .product__rating{
                                                    flex-direction: row;
                                                    .product__count{
                                                        margin: 0;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &__controls{
                    top: auto;
                    bottom: 0;
                    button{
                        height: 25px;
                        border-radius: 2px;
                        margin: 0 15px;
                        &:hover{
                            background-color: var(--c-light );
                            box-shadow: none;
                            svg{
                                fill: var(--_c-dark-primary);
                            }
                        }
                    }
                    @media screen and (max-width: 1024px){
                        display: flex;
                    }
                    @media screen and (max-width: 767px){
                       bottom: auto;
                       top: -18px;
                       display: flex;
                       z-index: 1;
                       button{
                           background-color: var(--_c-green-primary-lighten);
                           .sf-icon{
                               svg{
                                   fill: var(--c-white);
                               }
                           }
                       }
                    }
                    .sf-arrow{
                        .sf-icon{
                            svg{
                                display: block;
                            }
                            &:before{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}