.sf-footer-column {
  --list-item-color: var(--menu-item-label-color, var(--c-dark-variant));

  &__title {
    color: var(--footer-column-title-color, var(--c-text));
  }

  .m-newsletter-subscription {
    ._success-message {
      --c-text: var(--footer-column-title-color);
    }
  }
}