ul,
ol,
dl {
    list-style-position: inside;
    margin: 0;
    padding: 0;
    li {
        ul {
            list-style-position: inside;
            margin: 0;
            padding: 0;
        }
    }
}

ul {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAMAAABhq6zVAAAASFBMVEUAAABTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1NTU1Osg9trAAAAF3RSTlMA+cKxLeqaVR0JpjLUt599eWZaJhIMBE6jx8YAAABiSURBVAjXLcpHDsQwEANBjrIs59T//+muBNeJAFtSNv++3rK6BXKGRd0K+w6rpHK2aCFYbGfRjKvPfT/VMQsIh9kRADm4IsQLnMq0Nfq9TUV/HsBrSAyp78qnjspcSs4m6QfvDAZtfy8cOgAAAABJRU5ErkJggg==);
}
