ul,
ol,
dl {
    list-style-position: outside;
    margin: 0;
    padding: 0 0 0 22px;
    li {
        ul {
            list-style-position: outside;
            margin: 0;
            padding: 0 0 0 22px;
        }
    }
}

ul {
    list-style-image: url("/assets/paw-marker.svg");
}
