ul,
ol,
dl {
    list-style-position: inside;
    margin: 0;
    padding: 0;
    li {
        ul {
            list-style-position: inside;
            margin: 0;
            padding: 0;
        }
    }
}
