.sf-product-card{
    border: 1px solid var(--c-light);
    border-radius: 3px;
    margin: 10px;
    padding: 0;
    @include for-mobile {
        margin: 5px;
    }
    &__image-wrapper{
        height: 226px;
        a{
            display: block;
            height: 100%;
            .sf-image{
                height: 100%;
                img{
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    a{
        padding: 0 15px;
        margin-bottom: 10px;
        .sf-image{
            margin: 0 auto;
            display: block;
            &:after{
                display: none;
            }
            img{
                position: relative;
                top: 0;
                left: 0;
                transform: none;
            }
        }
        .sf-product-card__title{
            margin: 0;
            font-size: 14px;
            height: 44px;
            overflow: hidden;
        }
    }
    &__image-wrapper{
        + .sf-product-card__link{
            border-bottom: 1px solid var(--c-light);
        }
        .sf-circle-icon{
            display: none;
        }
    }
    
}