.navbar__filters-button{
    text-decoration: none;
    font-size: 13px!important;
    background-color: var(--_c-green-primary-lighten);
    color: var(--c-white)!important;
    width: 110px;
    border-radius: 3px;
    padding: 10px;
    background-image: url('/assets/icons/filter-icon.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 12px 8px;
    justify-content: flex-end;
    span{
        color: var(--c-white)!important;
        margin: 0 5px;
    }
}

.navbar__main{
    .navbar__sort{
        p{
            
            margin-right: 10px;
            b{
                font-family: 'Poppins-Bold';
            }
        } 
        button{
            text-decoration: none;
            margin: 0 10px;
        }
    }
}

.sf-sidebar{
    &__bottom{
        border-top: 1px solid var(--c-light);
        .btn-primary{
            width: 100%;
            text-transform: none;
        }
        .a-add-to-cart{
            max-width: 100%;
        }
    }
}