header{
    &.o-header-minimal{
        box-shadow: 0px 2px 2px var(--_c-gray-accent);
    } 
    .header-content{
        border-bottom: 3px solid var(--c-light);
        @include for-desktop {
            overflow: hidden;
        }
        @include for-tablet {
            overflow: hidden;
        }
        @include for-mobile{
            flex-direction: column;
            border-bottom: 0;
            .d-flex{
                padding: 10px 20px!important;
            }
        }
        .d-flex{
            padding: 20px;
        }
    }
    .sf-search-bar{
        --search-bar-width: 44rem;
        margin: 0 1.5vw;
        height: auto;
        @media screen and (max-width: 1380px){
            --search-bar-width: 30rem;
        }
        input{
            border-bottom: 0;
            text-indent: 15px;
            height: 50px;
            border: 1px solid var(--_c-gray-accent);
            border-radius: 3px;
            box-shadow: 0px 0px 0px 6px var(--_c-gray-accent);
            &:focus{
                outline: none;
                border-color: var(--_c-green-primary-lighten);
            }
        }
        .sf-search-bar__icon{
            background-color: var(--_c-green-primary-lighten);
            height: 44px;
            display: flex;
            align-items: center;
            top: 3px;
            padding:  0 5px;
            border-radius: 3px;
            right: 3px;
            padding: 0 10px;
            border-radius: 3px;
            svg{
                fill: $white-color; 
            }
        }  
        + .o-search-panel{
            top: 115px;
            z-index: 2;
            box-shadow: 0px 100vh 0 100vh rgba(0, 0, 0, 0.7);
        }
    }

    .search-container{
        position: relative;
        .sf-button{
            position: absolute;
            right: 75px;
            top: 17px;
            font-size: 14px;
            text-decoration: none;
            font-family: 'Poppins-Bold';
            color: var(--_c-green-primary-lighten);
        }
    }

    .icon-button{
        margin: 0 15px;
        button{
            display: flex;
            flex-direction: column;
            padding: 4px 7px;
            border-radius: 3px;
            border: 2px solid transparent;
            small{
                color: $primary-color;
                font-size: 10px;
                font-family: 'Poppins-Regular';
                font-weight: 100;
            }
            &:hover{
                border: 2px solid var(--_c-gray-accent);
            }
            svg{
                display: none;
            }
            &.a-account-icon,
            &.a-microcart-icon{
                .sf-icon{
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin: 5px 0;
                }
            }

            &.a-account-icon{
                .sf-icon{
                    background-image: url('/assets/icons/account-icon.png');
                }
            }

            &.a-microcart-icon{
                .sf-icon{
                    background-image: url('/assets/icons/cart-icon.png');
                }
            }
        }
    }
    .avis-banner{
        position: relative;
        width: 350px;
        padding: 0 20px;
        padding-left: 35px;
        background-image: url('/assets/images/icon_drill.png');
        background-repeat: no-repeat;
        background-size: 35%;
        background-position: right;
        @include for-mobile{
            padding: 8px 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .text_upper{
                font-size: 11px;
                margin: 0;
                padding-left: 12px;
            }
            p, .group-3{
                width: 50%!important;
                height: auto;
                img{
                    width: 120px;
                }
            }
        }
        .avis-background{
            display: block;
            position: absolute;
            width: 125%;
            height: 100%;
            background-color: var(--_c-green-primary); 
            background-image: linear-gradient(180deg, var(--_c-green-primary) 0%, var(--_c-green-primary-lighten) 100%);
            z-index: -1;
            top: 0;
            left: 0; 
            transform: skewX(-15deg);
            @include for-mobile{
                transform: none;
                width: 100%;
            }
        }
    }
}

