header{
    &.o-header-minimal{
        box-shadow: 0px 2px 2px var(--_c-gray-accent);
    } 
    .header-content{
        border-bottom: 3px solid var(--c-light);
        @include for-desktop {
            overflow: hidden;
        }
        @include for-tablet {
            overflow: hidden;
        }
        @include for-mobile{
            flex-direction: column;
            border-bottom: 0;
        }
        > .d-flex{
            padding: 20px;
            &.align-center{
                width: calc(100% - 350px);
                @media screen and (min-width: 1024px) and (max-width: 1400px){
                    width: 100%;
                }
                @media screen and (max-width: 767px){
                    width: fit-content;
                    padding: 10px;
                    justify-content: space-between;
                }
            }
        }
    }

    .icon-button{
        margin: 0 15px;
        button{
            display: flex;
            flex-direction: column;
            padding: 4px 7px;
            border-radius: 3px;
            border: 2px solid transparent;
            small{
                color: $primary-color;
                font-size: 10px;
                font-family: 'Poppins-Regular';
                font-weight: 100;
            }
            &:hover{
                border: 2px solid var(--_c-gray-accent);
            }
            svg{
                display: none;
            }
            &.a-account-icon,
            &.a-microcart-icon{
                .sf-icon{
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin: 5px 0;
                }
            }

            &.a-account-icon{
                .sf-icon{
                    background-image: url('/assets/icons/account-icon.png');
                }
            }

            &.a-microcart-icon{
                .sf-icon{
                    background-image: url('/assets/icons/cart-icon.png');
                }
            }
        }
    }
    .avis-banner{
        position: relative;
        width: 350px;
        padding: 0 20px;
        padding-left: 35px;
        background-image: url('/assets/images/icon_drill.png');
        background-repeat: no-repeat;
        background-size: 35%;
        background-position: right;
        @media screen and (min-width: 1024px) and (max-width: 1400px){
            width: auto;
        }
        @include for-mobile{
            padding: 8px 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .text_upper{
                font-size: 11px;
                margin: 0;
                padding-left: 12px;
            }
            p, .group-3{
                width: 50%!important;
                height: auto;
                img{
                    width: 120px;
                }
            }
        }
        .avis-background{
            display: block;
            position: absolute;
            width: 125%;
            height: 100%;
            background-color: var(--_c-green-primary); 
            background-image: linear-gradient(180deg, var(--_c-green-primary) 0%, var(--_c-green-primary-lighten) 100%);
            z-index: -1;
            top: 0;
            left: 0; 
            transform: skewX(-15deg);
            @include for-mobile{
                transform: none;
                width: 100%;
            }
        }
    }
}

