.sf-button {
    &.color-secondary {
        --button-color: var(--c-primary);
        --c-secondary: var(--c-light-variant);
        --button-border-width: 2px;

        &:hover, &:focus {
            --button-background: var(--c-light);
        }

        &.sf-button--text {
            --button-border-width: 0;
            --button-padding: 0;
            --button-background: transparent;
            --button-color: var(--c-text);
            --button-text-transform: none;
            --button-text-decoration: underline;
            --button-font-size: var(--font-xs);
            --button-font-weight: var(--font-medium);

            &:hover, &:focus {
                --button-color: var(--c-link-hover);
            }
        }
    }
}