.sf-select {
    &__overlay {
        --overlay-z-index: 20
    }
    &__dropdown {
        --select-dropdown-z-index: 21;

        .sf-select__options {
            // For Firefox
            scrollbar-color: var(--c-dark-variant) var(--c-white);
            scrollbar-width: thin;

            &::-webkit-scrollbar {
                width: 6px;
            } 
    
            &::-webkit-scrollbar-thumb {
                border-radius: 1em;
                background: var(--c-dark-variant);
            }
        }
    }

    @include for-desktop {
        &__options {
            overflow: auto;
        }
    }

    @media (prefers-color-scheme: dark) {
        // Hack for detect iOS Safari
        @supports (-webkit-touch-callout: none) {
            --select-option-border-color: var(--c-gray-lighten);
            --select-dropdown-background: var(--c-dark-variant);

            .sf-select-option {
                color: var(--c-dark-darken);

                &.sf-select-option--is-active {
                    --select-option-background: var(--c-dark-lighten);
                    color: var(--c-white-darken);
                }
            }

            .sf-select__cancel {
                --button-background: var(--c-dark-darken);
                --button-color: var(--c-white-darken);
            }
        }
    }
}
